<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="light ion-ios-paw"></i>
      </h1>
      <h2 class="light">DogPlay</h2>
      <p class="light">Connect with nearby dog owners</p>
    </div>

    <!-- Signup form -->
    <div class="list list-inset transparent-form">
      <label class="item item-input">
        <i class="ion-ios-person-outline light icon-label"></i>
        <input type="text" placeholder="Your Name" ng-model="user.name">
      </label>
      <br>
      <label class="item item-input">
        <i class="ion-ios-email-outline light icon-label"></i>
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <br>
      <label class="item item-input">
        <i class="ion-ios-locked-outline light icon-label"></i>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <br>
    </div>

    <!--<div class="padding">
      <button class="button button-block facebook-color light" ui-sref="home">
        Sign up with Facebook
      </button>
    </div>-->

    <div class="padding center">
      <button class="button button-positive round" ng-click="submitUser(user)" ui-sref="userpic">
        <i class="ion-arrow-right-c"></i>
      </button>
    </div>

    <br>
    <br>

    <!-- Other links -->
    <div class="padding row">
      <div class="col">
        <span class="light">Forgot password?</span>
      </div>
      <div class="col">
        <a ui-sref="login" class="light">Have account? Login</a>
      </div>
    </div>
  </ion-content>
</ion-view>
