
<!--
  This template loads for the 'setting' state (app.js)
-->
<ion-view view-title="Setting">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right">
        <p>Find Facebook Friends</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right">
        <p>Find contacts</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right">
        <p>Edit profile</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right">
        <p>Change password</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-toggle">
        <p>Private account</p>
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-icon-right">
        <p>Linked account</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
