
<!--
  This template loads for the 'user' state (app.js)
  'user' is a $scope variable created in UserCtrl controller (controllers.js)
  The UserCtrl pull data from Contacts service (service.js)
  The Contacts service returns contact by id
-->
<ion-view view-title="Profile">
  <ion-content>
    <div class="text-center user-profile positive-bg">

      <img class="profile-picture" menu-close="" src="{{ user.face}}">

      <h4 class="light">{{ user.name }}</h4>

      <div class="row positive-bg light">
        <a class="col text-center">
          <span class="number">{{ user.followers }}</span>
          <span class="desc">Follower</span>
        </a>
        <a class="col text-center">
          <span class="number">{{ user.following }}</span>
          <span class="desc">Following</span>
        </a>
        <a class="col text-center">
          <span class="number">{{ user.favorites }}</span>
          <span class="desc">Favorites</span>
        </a>
      </div>
    </div>

    <div class="list">

      <div class="item item-avatar" ng-repeat="post in user.posts">
        <img class="profile-picture" src="{{ post.face }}" alt=""/>

        <a ui-sref="user({userId: id})" class="post-author">
          {{ post.name }}
        </a>

        <div class="post-content">
          <div ng-click="viewPost(post.id)">
            <p>{{ post.content | nl2br}}</p>
          </div>
          <p>
            <a ng-click="toggleLike(post)" class="subdued">
              <i class="ion-heart assertive" ng-if="post.liked"></i>
              <i class="ion-heart" ng-if="!post.liked"></i>
              {{ post.likeCount}}
            </a>
            <a ui-sref="post({postId: post.id})" class="subdued">
              <i class="ion-chatbox positive"></i>
              {{ post.commentCount}}
            </a>
            <span class="post-time">
              <i class="ion-ios-timer-outline"></i>
              {{ post.time }}
            </span>
          </p>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
